* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
}

#wrapper {
    width: 80%;
    height: auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    display: flex;
    align-items: center;
    height: auto;
    padding: 10px 0px 10px 0px;
}

div#search {
    display: inline-flex;
    width: 70%;
}

input {
    width: 80%;
    height: 32px;
}

button {
    height: 32px;
    display: block;
    width: 20%;
    min-width: 60px;
    background-color: rgb(235,235,235);
    border: 1px;
}

div#access {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

li {
    text-decoration: none;
    display: inline-block;
    justify-content: flex-end;
    padding: 10px;
    
}

div#showcasewrapper1 {
    display: flex;
}

img#showcase1 {
    width: 100%;
    padding-bottom: 30px;
}

div#showcasewrapper2 {
    display: none;
}

div#newswrapper {
    display: flex;
    flex-wrap: wrap;
}

div.news {
    flex: 25%;
    max-width: 25%;
    padding: 10px;
    text-align: center;
}

img.prodotti {
    max-width: 140px;
    width: 100%;
}

@media (max-width: 1200px) {
    
    div#access {
    display: none;
    }
    
    div#search {
    width: 100%;
    }
}

@media (max-width: 800px) {
    
    div#showcasewrapper1 {
        display: none;
    }
    
    div#showcasewrapper2 {
    display: flex;
    }
    
    img#showcase2 {
        width: 100%;
        padding-bottom: 30px;
    }
    
    div.news {
    flex: 50%;
    max-width: 50%;
    padding: 10px;
    text-align: center;
    }
    
}

footer {
    text-align: center;
    font-size: 8pt;
    margin: 60px 0px 10px 0px;
}
