div#wrapper {
    width: 1050px;
    height: auto;
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
}

header {
    width: auto;
    height: 87px;
}

div#menu {
    float: left;
    height: 40px;
    width: 40px;
    padding: 24px 0px 0px 0px;
}

div#logo {
    float: left;
}

div#search {
    float: left;
    height: 54px;
    padding: 33px 0px 0px 0px;
}

input {
    width: 500px;
    height: 25px;
}

button {
    width: 80px;
    height: 32px;
    background-color: rgb(235,235,235);
    border: 1px;
}

li {
    text-decoration: none;
    display: inline;
    float: right;
    padding: 40px 0px 0px 20px;
}

div#showcase {
    margin: 20px 0px 40px 0px;
    width: auto;
    height: 430px;
}

div#newswrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px 200px;
    text-align: center;
}

div.news {
    padding: 10px;
}

h3 {
    line-height: 1px;
}

footer {
    text-align: center;
    font-size: 8pt;
    margin: 60px 0px 10px 0px;
}